# Environment Variables for Kanda Connect (Sinza & Kijitonyama)

SECRET_KEY=django-insecure-your-secret-key-for-production
DEBUG=False
ALLOWED_HOSTS=*

# PostgreSQL Database Configuration
DB_ENGINE=django.db.backends.postgresql
DB_NAME=sinza
DB_USER=postgres
DB_PASSWORD=nyisu
DB_HOST=localhost
DB_PORT=5432
