# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
*.egg

# Django & Media
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
server.log

# Virtual environments & local vendor deps
venv/
env/
.env
.venv/
deps/
libs/

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Temp Scratch & Artifacts
scratch/
test_*.py
